@import url("https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@400;600;900&family=Roboto+Serif:opsz,wght@8..144,400;8..144,700;8..144,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
  list-style: none;
}

.App {
  text-align: center;
  
}

.linea {
  width: 100%;
  height: 5px;
  background-color: grey;
  };

  html, body {
    height: 100%;
  }